<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{title}}
    <button @click="addPeople()">adicionar</button>
    <input type="text" v-model="nome" /> {{nome}}
    <div v-if="seen">
      cadastrado!
      <div v-for="pessoa in pessoas">{{pessoa.nome}}</div>
    </div>
    {{pessoas}}
  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          nome: '',
          title: 'vue',
          seen: false,
          pessoas: [
            {nome: 'gerson'}
          ]
        },
        methods: {
          addPeople() {
            obj = {
              nome: this.nome
            }
            var retorno = this.pessoas.push(obj);
            console.log(retorno[0]);
            this.seen = true;
            this.nome = ''
          }
        }
      })
    </script>
</body>
</html>